/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/
params {
    input  = "${projectDir}/tests/test_dir/gex_samplesheet.csv"
    contrast = "${projectDir}/tests/test_dir/contrast_manifest.csv"

    outdir = "${projectDir}/tests/results/"
    run_cellranger = "Y"
}

// Impose sensible resource limits for testing
process {
    withName: '.*' {
        cpus   = 2
        memory = 3.GB
        time   = 2.h
    }
}

// Disable all Nextflow reporting options
timeline { enabled = false }
report   { enabled = false }
trace    { enabled = false }
dag      { enabled = false }
