package,source,version,gh_name
BiocManager,cr,3.17,NA
remotes,cr,2.4.2,NA
Seurat,gh,seurat5,satijalab/seurat
hdf5r,cr,1.3.8,NA
R.utils,cr,2.12.2,NA
cluster,cr,2.1.4,NA
SeuratWrappers,gh,seurat5,satijalab/seurat-wrappers
GenomeInfoDbData,bc,3.17,NA
farver,cr,2.1.1,NA
SingleCellExperiment,bc,1.22.0,NA
SingleR,bc,2.2.0,NA
DoubletFinder,gh,DoubletFinder,chris-mcginnis-ucsf/DoubletFinder
flexmix,cr,2.3-19,NA
celldex,bc,1.10.1,NA
ggplot2,cr,3.4.2,NA
tinytex,cr,0.45,NA
stringr,cr,1.5.0,NA
scRNAseq,bc,2.14.0,NA
Orthology.eg.db,bc,3.17.0,NA
Routliers,gh,Routliers,mdelacre/Routliers
AnnotationDbi,bc,1.62.2,NA
org.Hs.eg.db,bc,3.17.0,NA
org.Mm.eg.db,bc,3.17.0,NA
Orthology.eg.db,bc,3.17.0,NA
harmony,gh,0.1.1,immunogenomics/harmony
ggpubr,cr,0.6.0,NA
DT,cr,0.29,NA
reticulate,cr,1.32.0,NA
scales,cr,1.2.1.0,NA
png,cr,0.1-8,NA
grid,cr,3.6.2,NA
gridExtra,cr,0.9.1,NA
cowplot,cr,1.1.1,NA
rliger,gh,v1.1.0,welch-lab/liger
