process {

    // The defaults for all processes
    cpus   = { check_max( 6    * task.attempt, 'cpus'   ) }
    memory = { check_max( 12.GB * task.attempt, 'memory' ) }
    time   = { check_max( 4.h  * task.attempt, 'time'   ) }

    errorStrategy = { task.exitStatus in [140,143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    // See https://www.nextflow.io/docs/latest/config.html#config-process-selectors
    withLabel:process_low {
        cpus   = { check_max( 1                   , 'cpus'    ) }
        memory = { check_max( 1.GB  * task.attempt, 'memory'  ) }
        time   = { check_max( 4.h                 , 'time'    ) }
    }

    withLabel:process_medium {
        cpus   = { check_max( 4                   , 'cpus'    ) }
        memory = { check_max( 10.GB * task.attempt, 'memory'  ) } 
        time   = { check_max( 4.h                 , 'time'    ) }
    }

    withLabel:process_high {
        cpus   = { check_max( 6                   , 'cpus'    ) }
        memory = { check_max( 10.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 8.h                 , 'time'    ) }
    }

    withName:subworkflow1 {
        cpus   = { check_max( 2                   , 'cpus'    ) }
        memory = { check_max( 3.GB  * task.attempt, 'memory'  ) }
        time   = { check_max( 8.h                 , 'time'    ) }
    }
}