params {
    config_profile_name = 'Test stubs'
    config_profile_description = 'Minimal test configuration to run stubs with continuous integration'

    max_cpus = 4        // for GitHub Actions https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#supported-runners-and-hardware-resources
    max_memory = '16.GB'
    max_time   = '6.h'

    publish_dir_mode = "copy"
}
