process {

    resourceLimits = [
        cpus: params.max_cpus,
        memory: params.max_memory,
        time: params.max_time
    ]

    // use the largemem queue for process_high jobs
    withLabel:process_high {
        cpus   = { 48 }
        memory = { 500.GB * task.attempt }
        time   = { 72.h }
        queue = 'largemem'
        clusterOptions = ' --gres=lscratch:750 '
    }
}
