process {

    // use the largemem queue for process_high jobs
    withLabel:process_high {
        cpus   = { check_max( 48                   , 'cpus'    ) }
        memory = { check_max( 500.GB * task.attempt, 'memory' ) }
        time   = { check_max( 72.h                 , 'time'    ) }
        queue = 'largemem'
        clusterOptions = ' --gres=lscratch:750 '
    }
}
