process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/samplesheets" },
            mode: 'copy',
            pattern: "*{*_samplesheet.csv}"
        ]
    }

    withName: CELLRANGER_COUNT {
        ext.args = '--jobmode=slurm --maxjobs=5'
        publishDir = [
            path: { "${params.outdir}/cellranger_counts/" },
            mode: 'copy',
            pattern: "*{*/outs/*}"
        ]
        module = ['cellranger:7.1.0']
    }

    withName: SEURAT_PREPROCESS{
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/seurat" },
            mode: 'copy',
            pattern: "*.{rds}"
        ]
        publishDir = [
            path: { "${params.outdir}/logs/seurat" },
            mode: 'copy',
            pattern: "*.{html}"
        ]
        module = ['R:4.3']
    }

    withName: SEURAT_MERGE{
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/seurat" },
            mode: 'copy',
            pattern: "*{*.rds}"
        ]
        module = ['R:4.3']
    }

    withName: BATCHC_INT{
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/batch_correct" },
            mode: 'copy',
            pattern: "*{*.rds}"
        ]
        module = ['R:4.3']
    }

    withName: BATCHC_RPCA {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/batch_correct" },
            mode: 'copy',
            pattern: "*{*.rds}"
        ]
        module = ['R:4.3']
    }
    
    withName: BATCHC_HARMONY {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/batch_correct" },
            mode: 'copy',
            pattern: "*{*.rds}"
        ]
        module = ['R:4.3']
    }
}