process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/samplesheets" },
            mode: 'copy',
            pattern: "*{*_samplesheet.csv}"
        ]
    }

    withName: CELLRANGER_COUNT {
        ext.args = '--jobmode=slurm --maxjobs=20'
        publishDir = [
            path: { "${params.outdir}/cellranger_counts/${id}/outs" },
            mode: 'copy',
            pattern: "outs/{*}"
        ]
        process.module = ['cellranger:7.1.0']
    }

    withName: SEURAT_SINGLE{
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/Seurat" },
            mode: 'copy',
            pattern: "*{*.rds}"
        ]
        process.module = ['R:4.2.2']  
    }
}