process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/samplesheets" },
            mode: 'copy',
            pattern: "*{*_samplesheet.csv}"
        ]
    }

    withName: CELLRANGER_COUNT {
        ext.args = '--jobmode=slurm --maxjobs=5'
        publishDir = [
            path: { "${params.outdir}/cellranger_counts/" },
            mode: 'copy',
            pattern: "*{*/outs/*}"
        ]
        module = ['cellranger:7.1.0']
    }

    withName: SEURAT_PREPROCESS{
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/seurat/preprocess" },
            mode: 'copy',
            pattern: "*{*.pdf,*_seurat_preprocess.rds}"
        ]
        module = ['R:4.3']
    }

    withName: SEURAT_MERGE{
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/seurat/merge" },
            mode: 'copy',
            pattern: "*{*.pdf,*_seurat_merged.rds}"
        ]
        module = ['R:4.3']
    }

    withName: BATCH_CORRECT_HARMONY {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/batch_correct" },
            mode: 'copy',
            pattern: "*{*.rds}"
        ]
        module = ['R:4.3']
    }

    withName: BATCH_CORRECT_RPCA {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/batch_correct" },
            mode: 'copy',
            pattern: "*{*.rds}"
        ]
        module = ['R:4.3']
    }

    withName: BATCH_CORRECT_CCA {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/batch_correct" },
            mode: 'copy',
            pattern: "*{*.rds}"
        ]
	module = ['R:4.3']
    }

    withName: PLACEHOLDER_SCVI{
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/scvi_placeholder" },
            mode: 'copy',
            pattern: "*{*.rds}"
        ]
    }
    
    withName: BATCH_INT{
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/batch_correct" },
            mode: 'copy',
            pattern: "*{*.rds}"
        ]
        module = ['R:4.3']
    }


    

}
