/*
========================================================================================
    Config options for specific module parameters
----------------------------------------------------------------------------------------
*/

// Global default params" used in configs
params {
    // seurat_preprocess.nf 
    qc_filtering                = "manual"
    nCount_RNA_max              = "500000"
    nCount_RNA_min              = "1000"
    nFeature_RNA_max            = "5000"
    nFeature_RNA_min            = "200"
    percent_mt_max              = "10"
    percent_mt_min              = "0"
    run_doublet_finder          = "N"

     // GEX
    seurat_resolution           = "0.1,0.2,0.3,0.5,0.6,0.8,1"

    // batch_correction_harmony.nf
    npcs                        = "30"
    resolution_list             = "0.1,0.2,0.3,0.5,0.6,0.8,1"
}