package,source,version,gh_name,preprocess,merge,integration,harmony,rpca
BiocManager,cr,3.17,NA,Y,Y,Y,Y
remotes,cr,2.4.2,NA,Y,Y,Y,Y
hdf5r,cr,1.3.8,NA,Y,N,N,N
Seurat,gh,seurat5,satijalab/seurat,Y,N,N,N
R.utils,cr,2.12.2,NA,Y,N,N,N
SeuratWrappers,gh,0.3.1,satijalab/seurat-wrappers,Y,N,N,N
celldex,bc,3.16,NA,Y,N,N,N
GenomeInfoDbData,bc,3.17,Y,N,N,N