params {
    config_profile_name        = 'Test PBMC'
    config_profile_description = ''

    // Input and Output options
    input                       = "${projectDir}/tests/test_pbmc/input_manifest_cellranger.csv"
    contrast                    = "${projectDir}/tests/test_pbmc/contrast_manifest.csv"
    outdir                      = "${launchDir}/pbmc_results"
    species                     = "hg38"
    run_cellranger              = "N"
    vars_to_regress             = "" // other options include "S.Score,G2M.Score,nCount_RNA"

    // seurat_preprocess.nf
    qc_filtering                = "manual"
    nCount_RNA_max              = 1000000
    nCount_RNA_min              = 1000
    nFeature_RNA_max            = 5000
    nFeature_RNA_min            = 200
    percent_mt_max              = 30
    percent_mt_min              = 0
    run_doublet_finder          = "Y"

     // GEX
    seurat_resolution           = "0.1,0.2,0.3,0.5,0.6,0.8,1"
    npcs                        = 20
    resolution_list             = "0.1,0.2,0.3,0.5,0.6,0.8,1"

}
