/*
========================================================================================
    Run a fast and simple pipeline test.

    Use as follows:
        nextflow run biowulf -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile starting from h5 files'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input  = "${projectDir}/assets/input_manifest_cellranger.csv"
    contrast = "${projectDir}/assets/contrast_manifest.csv"
    outdir = "${launchDir}/output/tests"
    run_cellranger = false

}
