/*
========================================================================================
    Run a fast and simple pipeline test.

    Use as follows:
        nextflow run biowulf -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input  = "${projectDir}/assets/input_manifest.csv"
    contrast = "${projectDir}/assets/contrast_manifest.csv"

    outdir = "${launchDir}/output/tests"

}
