/*
========================================================================================
    Run a fast and simple pipeline test.

    Use as follows:
        nextflow run biowulf -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input  = "${projectDir}/tests/test_dir/gex_samplesheet.csv"
    contrast = "${projectDir}/tests/test_dir/contrast_manifest.csv"

    outdir = "${projectDir}/results/tests"

}
